* {
    box-sizing: border-box;
}

.container {
    max-width: 768px;
    margin: auto;
}

li {
    padding-bottom: 35px;
}

label {
    display: block;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}